.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

body {
  padding-top: 50px;
}
.text {
  padding: 40px 15px;
  text-align: left;
}
p {

  font-size:120%;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}



img {
  border-radius: 15px;
  padding-right: 10px;
  max-width: 100%;
  height: auto;
  
}
@media (min-width: 768px) {
  /* Pull out the header and footer */

  .mastfoot {
    position: fixed;
    bottom: 0;
    padding-left: 20px;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */

  .mastfoot {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .mastfoot{
    width: 700px;
  }
}

.card {
    /* Add shadows to create the "card" effect */
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(112,112,112, .2);
    height:50%;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.button {
  position: relative;
  width: 75%;
  top: 100px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  background-color: #A0A0A0;
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: black;
  border: solid 4px #D44500;
  z-index: 1;
}

.w3-panel:hover .button {
  opacity: 1;
}


.datacusebg-1, .datacusebg-2, .datacusebg-3, .collectionbg-1, .collectionbg-2, .collectionbg-3, .predictionbg-1, .predictionbg-2, .partnershipsbg-1, .partnershipsbg-2, .partnershipsbg-3, .partnershipsbg-4    {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.datacusebg-1 {
  background-image: url("../img/datacuse1.png");
  min-height: 100%;
}

.datacusebg-2 {
  background-image: url("../img/datacuse2.png");
  min-height: 400px;
}

.datacusebg-3 {
  background-image: url("../img/datacuse3.png");
  min-height: 400px;
}

.collectionbg-1 {
  background-image: url("../img/datacollection.jpg");
  min-height: 100%;
}

.collectionbg-2 {
  background-image: url("../img/datacollection1.png");
  min-height: 100%;
}

.collectionbg-3 {
  background-image: url("../img/datacollection2.png");
  min-height: 100%;
}

.predictionbg-1 {
  background-image: url("../img/prediction1.png");
  min-height: 100%;
}

.predictionbg-2 {
  background-image: url("../img/prediction2.png");
  min-height: 100%;
}

.partnershipsbg-1 {
  background-image: url("../img/dssg.png");
  min-height: 100%;
}

.partnershipsbg-2 {
  background-image: url("../img/whatworkscities.png");
  min-height: 100%;
}

.partnershipsbg-3 {
  background-image: url("../img/hackupstate.png");
  min-height: 100%;
}

.partnershipsbg-4 {
  background-image: url("../img/ischool.png");
  min-height: 100%;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .datacusebg-1, .datacusebg-2, .datacusebg-3 {
        background-attachment: scroll;
    }
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #D44500;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

